<table class="table table-hover">
    {% for event in include.events %}
    <tr>
        <td class="vert-align">{{event.starts_at}}</td>
        <td class="vert-align col-xs-6">{{ event.type}}</td>
        <td class="vert-align col-xs-3">{{event.place}}</td>
        <td class="vert-align">
            <a href="#{{event.place | replace:' ', '_' | downcase }}"
               class="btn btn-default"
               data-toggle="modal">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
