<table class="table table-hover">
    {% for event in include.events %}
    <tr>
        <td class="col-xs-5 vert-align">{{ event.type}}</td>
        <td class="col-xs-1 vert-align">-</td>
        <td class="col-xs-1 vert-align">{{event.starts_at}}</td>
        <td class="col-xs-1 vert-align">@</td>
        <td class="col-xs-1 vert-align">{{event.place}}</td>
        <td class="col-xs-1 vert-align">
            <a href="#{{event.place | replace:' ', '_' | downcase }}"
               class="btn btn-default"
               data-toggle="modal">
                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
