<div class="footer">
    <hr>
    <div class="container">
        <a href="https://www.facebook.com/photo.php?fbid=10205850662174731&set=gm.1006039339487025&type=3&theater">
            Tvarkaraščio šaltinis
        </a>
        <div><a href="https://www.facebook.com/groups/840021722755455/">MyHero Kaunas Facebook grupė</a></div>
        <div>{% include icon-github.html username=site.repo %}</div>
        <div class="text-center text-muted">Atnaujinta {{ site.time | date: "%F" }}</div>

    </div>
</div>